<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Register finished</h1>
<p>You have successfully registered<br/>
    your username is {{username}}<br/>
your password is {{password}}<br/>
your email is {{email}}
<p>
    <a href="../">Back to main page</a>
</body>
</html>