<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<h1>{{message}}!</h1>
<a href={{parent_page}}>Back to {{category}} page</a><br/>
<a href="/">Back to main page</a>
</body>
</html>